@{
    ViewData["Title"] = "Home Page";
}

<div class="nn">
    <h1> class="ContosoUniversity </h1>
</div>
<div> class="row">
    <div class="col-md-4">
        <h2>Welcome to ContosoUniversity</h2>
        <p>
            Yan Shapovalov
            TARpe23
            2024/2025
        </p>

    </div>
    <div class="col-md-4">
        <h2>something1</h2>
        <h2>something2</h2>
        <p>
             u will learn somethig 
        </p>
        <p>
            <a class="btn btn-default" href="https://github.com/YanShapov">Minu github</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Welcome to ContosoUniversity</h2>
        <h2>something3</h2>
        <p>
           asdasdas
           asdasdasd
           asdasdasd
           asdasdasd
        </p>
    </div>
</div>
            

